.foot-cards{
    display:flex;
    margin-left: 157px;
    margin-right:157px;
    width:1126px;
    height:187px;
}


.foot1{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 149.19%;
margin-right: 100px;;
}
.foot2{
    margin-right: 100px;
    margin-left : 40px;
}



.foot3{
    display:grid;
}

.foot3-img1{
    display:flex;
    padding-top:40px;
}
.foot3img2{
    
 display:flex;
 padding-bottom: 38px;
}



.base{
    height: 64px;
    width: 1440px;
    left: 0px;
    top: 2094px;
    border-radius: 0px;
    right: 0px;
    
width: 100%;
height: 64px;
left: 0px;
top: 2094px;

background: #EE4248;
margin:auto;
    
}

.text{
  color: white;
  padding-top:20px;
 
}


.foot2-header{
width: 85px;
height: 28px;
padding-top:20px;
font-family: Roboto;
padding-left:20px;
font-style: normal;
font-weight: 600;
font-size: 24px;



color: #263238;
}

@media(max-width:1302px) {

    .foot-cards{
        display:grid;
    
    }

    .base{
        margin-top:200px;
    }
    .foot3{
        margin-left: 340px;
    }

    @media(max-width:904px) {

        .foot2-header{
            margin-right:20px;
        }
        .foot-cards{
            margin-left:0px;
        }
    }

}